{{#partial "content"}}

    <p>Entry Name:</p>

    <p>{{ entry.name }}</p>
    <h5> Phone:</h5>
    <p> {{ entry.phoneNumber }}</p>
    <h5> Address: </h5>
    <p>{{ entry.mailingAddress }}</p>
    <h5>Email:</h5>
    <p>{{entry.emailAddress}}</p>
    <h5>Task status:</h5>
    <p>

        <a href="/entries/{{task.id}}/update">Edit this entry</a><br>
        <a href="/entries/{{task.id}}/delete">DELETE this entry (no undo)</a>
    </p>

{{/partial}}

{{> layout.hbs}}